<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectGitM8"
        tools:targetApi="31">
        
        <!-- {MAP_API_KEY} és la API_KEY per utilitzar Google Maps al detall dels Parkings.
        El seu valor es troba a local.properties (dins la carpeta Gradle Scripts) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAP_API_KEY}" />
        <activity
            android:name=".ParkingDetail"
            android:exported="false"
            android:label="@string/title_activity_parking_detail" />
        <activity
            android:name=".HotelDetail"
            android:exported="false" />
        <activity
            android:name=".Configuracio"
            android:exported="false" />
        <activity
            android:name=".Parkings"
            android:exported="false" />
        <activity
            android:name=".HorariMovie"
            android:exported="false"/>
        <activity
            android:name=".Movies"
            android:exported="false" />
        <activity
            android:name=".Weather"
            android:exported="false" />
        <activity
            android:name=".Hotels"
            android:exported="false" />
        <activity
            android:name=".Businesses"
            android:exported="false" />
        <activity
            android:name=".Restaurants"
            android:exported="false" />
        <activity
            android:name=".RestaurantDetail"
            android:exported="false" />
        <activity
            android:name=".RestaurantAdapter"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>